@media only screen and (max-width: 1591px) and (min-width: 1367px) {
	.mainSliderIns h2 {
		font-size: 70px;
	}



	.mainSliderIns p {
		background-color: rgba(233, 157, 81, .7);
		padding: 48px 120px 48px 65px;
		font-size: 28px;
		font-weight: 400;
		color: #fff;
	}

	.addressTxt p {
		white-space: normal;
	}

	.headerTop {
		display: flex;
		gap: 30px;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.headerTop>div:nth-child(3) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		max-width: 40%;
		width: 100%;
	}

	.headerTop>div:nth-child(1) {
		max-width: 20%;
		width: 100%;
	}

	.headerTop>div:nth-child(2) {
		max-width: 40%;
		width: 100%;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.insideFooter .col-md-3:nth-child(1) {
		max-width: 30%;
		width: 100%;
		margin-right: 0;
	}

	.insideFooter .col-md-3:nth-child(2) {
		max-width: 18%;
		width: 100%;
		margin-right: 0;
	}

	.insideFooter .col-md-3:nth-child(3) {
		max-width: 20%;
		width: 100%;
		margin-right: 0;
	}

	.insideFooter .col-md-3:nth-child(4) {
		max-width: 32%;
		width: 100%;
	}

	.addressTxt p {
		white-space: normal;
	}

	.mainSliderIns {
		position: absolute;
		left: 50px;
		top: -115px;
	}

	.mainSliderIns h2 {
		font-size: 45px;
		line-height: 1.2;
		color: #333333;
		margin-bottom: 50px;
		font-weight: 700;
	}

	.mainSliderIns p {
		background-color: rgba(233, 157, 81, .7);
		padding: 48px 45px;
		font-size: 20px;
		font-weight: 400;
		color: #fff;
	}

	.mainSlider .item {
		background-position: center;
		background-size: cover;
		width: 100%;
		min-height: auto;
		height: 100vh;
	}

	.headerTop {
		padding: 35px 65px;
		display: flex;
		gap: 30px;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}


	.headerTop>div:nth-child(1) {
		max-width: 18%;
		width: 100%;
	}

	.headerTop>div:nth-child(2) {
		max-width: 47%;
		width: 100%;
	}

	.headerTop>div:nth-child(3) {
		max-width: 35%;
		width: 100%;
		padding-left: 0px;
		gap: 10px;
	}

	.searchBtn .btn-default {
		color: #fff;
		background-color: #ff9933;
		border-color: #ff9933;
		height: 50px;
		padding: 0px 10px;
	}

	.searchInput .search-panel .btn-default {
		color: #76767e;
		background-color: #f7f8fc;
		border-color: #e4e4e4;
		height: 50px;
		padding: 0px 7px;
	}

	.yourCart p {
		font-size: 15px;
	}

	.loginReg p {
		font-size: 15px;
	}

	.loginReg p span a {
		font-size: 15px
	}

	.menuHeader {
		box-shadow: 0px 3px 6px #00000029;
		padding: 35px 65px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.headerTop {
		padding: 10px 15px;
		gap: 10px;
	}

	.headerTop>div:nth-child(2) {
		display: none;
	}

	.headerTop>div:nth-child(1) {
		max-width: 30%;
		width: 100%;
	}

	.headerTop>div:nth-child(3) {
		max-width: 70%;
		width: 100%;
		padding-left: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
	}

	.yourCart {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.mobCart {
		display: flex;
		gap: 30px;
		justify-content: end;
	}

	.mainSlider .bg_1 {
		background-image: url(../images/slider-1m.png);
		height: 100vh;
		min-height: auto;
	}

	.mainSlider .bg_2 {
		background-image: url(../images/slider-2m.png);
		height: 100vh;
		min-height: auto;
	}

	.topSlider {
		background-color: #f8f8f8;
		padding: 40px 0px;
	}

	.mainSlider .owl-nav button.owl-next {
		bottom: -40px;
		margin: auto;
		right: 15px;
	}

	.mainSlider .owl-nav button.owl-prev {
		bottom: -40px;
		margin: auto;
		right: 145px;
	}

	.mainSliderIns {
		position: absolute;
		left: 20px;
		top: 15px;
	}

	.mainSliderIns h2 {
		font-size: 35px;
		line-height: 1.1;
		color: #333333;
		margin-bottom: 20px;
		font-weight: 700;
	}

	.mainSliderIns p {
		background-color: rgba(233, 157, 81, .7);
		padding: 30px 20px;
		font-size: 20px;
		font-weight: 400;
		color: #fff;
	}

	.cartIn a img {
		width: 28px;
	}

	.hamIns a img {
		width: 28px;
	}

	.cartIn a span {
		position: absolute;
		font-size: 14px;
		top: -14px;
		right: -15px;
		background-color: #f89641;
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		text-align: center;
		color: #424242;
		line-height: 24px;
	}

	.cartIn a {
		position: relative;
	}

	#header {
		border-top: 20px solid #666666;
		padding: 15px;
	}

	.mobileLogo {
		display: flex;
		align-items: center;
		height: 35px;
	}

	.mobileLogo a img {
		max-width: 128px;
		width: 100%;
	}

	.trendingProducts {
		padding: 50px 0px;
	}

	.whyChooseUs {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.rightTxts p {
		text-align: center;
	}

	.copyTxts p {
		text-align: center;
	}

	.copyRights {
		background-color: #fff;
		padding: 15px 0px;
	}

	.whyChooseUs .allHeads h3,
	.trendingProducts .allHeads h3,
	.hyattSlider .allHeads h3 {
		font-size: 30px;
		text-align: center;
		font-weight: 700;
		margin-bottom: 20px;
		color: #333333;
	}

	.numericIn {
		display: flex;
		gap: 15px;
		align-items: center;
		justify-content: space-between;
		padding: 40px 0px;
		box-shadow: 0px 16px 12px #00000029;
		border-radius: 100px;
		margin-top: 40px;
		flex-direction: column;
	}

	.numericIn>div {
		padding: 0px 30px;
		width: 60%;
		border-right: 0px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
	}

	.numericIn>div:last-child {
		border-right: 0px solid #ddd;
		border-bottom: 0px;
	}

	.whyChooseUs p {
		text-align: center;
		font-size: 18px;
		line-height: 1.5;
	}

	.clienttestimonials .allHeads h3 {
		font-size: 28px;
		font-weight: 700;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 40px;
		display: block;
		padding-right: 15px;
		padding-left: 15px;
	}

	.clienttestimonials .allHeads h3 span {
		display: block;
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 15px;
	}

	.clienttestimonials {
		padding: 50px 15px;
	}

	.footerLinks h4 {
		font-size: 20px;
		color: #fff;
		font-weight: 600;
		margin-bottom: 30px;
		margin-top: 40px;
	}

	.footerLogo p {
		color: #fff;
		font-size: 14px;
		line-height: 2;
		margin-bottom: 20px;
	}

	.insideFooter .col-md-3:nth-child(1) {
		max-width: 100%;
		width: 100%;
		margin-right: 0px;
	}

	.insideFooter .col-md-3:nth-child(2) {
		max-width: 100%;
		width: 100%;
		margin-right: 0px;
	}

	.insideFooter .col-md-3:nth-child(3) {
		max-width: 100%;
		width: 100%;
		margin-right: 0px;
	}

	.insideFooter .col-md-3:nth-child(4) {
		max-width: 100%;
		width: 100%;
	}

	.footerLinks ul li a {
		font-size: 12px;
		font-weight: 400;
		color: #fff;
		margin-bottom: 15px;
		display: block;
	}

	.addressTxt p {
		white-space: normal
	}

	.contactTxt,
	.emailTxt,
	.addressTxt {
		display: flex;
		gap: 15px;
		margin-bottom: 20px;
		align-items: center;
	}

	.topBg {
		background-color: #666666;
		padding-top: 50px;
		padding-bottom: 15px;
	}

	.testimonialSlider.owl-carousel .owl-stage-outer {
		overflow: hidden;
	}

	.mainSlider.owl-carousel .owl-stage-outer {
		overflow: hidden;
	}

	.testimonialSlider .owl-nav button.owl-prev {
		position: absolute;
		width: 32px;
		height: 32px;
		top: -44px;
		margin: auto;
		right: 43px;
		left: auto;
		bottom: auto;
	}

	.testimonialSlider .owl-nav button.owl-next {
		position: absolute;
		width: 32px;
		height: 32px;
		top: -43px;
		margin: auto;
		right: 0px;
		left: auto;
		bottom: auto;
	}

	.logoIns {
		height: 280px;
		display: flex;
		align-items: center;
		box-shadow: 0px 3px 6px #00000029;
		max-width: 33.33%;
		width: 100%;
		margin-bottom: 28px;
		padding: 10px;
	}

	.logoIns img {
		width: 100%;
	}
}

@media (max-width: 767px) {

	/*  */
	.headerTop {
		padding: 10px 15px;
		gap: 10px;
	}

	.headerTop>div:nth-child(2) {
		display: none;
	}

	.headerTop>div:nth-child(1) {
		max-width: 30%;
		width: 100%;
	}

	.headerTop>div:nth-child(3) {
		max-width: 70%;
		width: 100%;
		padding-left: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
	}

	.yourCart {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.mobCart {
		display: flex;
		gap: 30px;
		justify-content: end;
	}

	.mainSlider .bg_1 {
		background-image: url(../images/slider-1m.png);
		height: 100vh;
		min-height: auto;
	}

	.mainSlider .bg_2 {
		background-image: url(../images/slider-2m.png);
		height: 100vh;
		min-height: auto;
	}

	.topSlider {
		background-color: #f8f8f8;
		padding: 40px 0px;
	}

	.mainSlider .owl-nav button.owl-next {
		bottom: -40px;
		margin: auto;
		right: 15px;
	}

	.mainSlider .owl-nav button.owl-prev {
		bottom: -40px;
		margin: auto;
		right: 145px;
	}

	.mainSliderIns {
		position: absolute;
		left: 20px;
		top: 15px;
	}

	.mainSliderIns h2 {
		font-size: 35px;
		line-height: 1.1;
		color: #333333;
		margin-bottom: 20px;
		font-weight: 700;
	}

	.mainSliderIns p {
		background-color: rgba(233, 157, 81, .7);
		padding: 30px 20px;
		font-size: 20px;
		font-weight: 400;
		color: #fff;
	}

	.cartIn a img {
		width: 28px;
	}

	.hamIns a img {
		width: 28px;
	}

	.cartIn a span {
		position: absolute;
		font-size: 14px;
		top: -14px;
		right: -15px;
		background-color: #f89641;
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		text-align: center;
		color: #424242;
		line-height: 24px;
	}

	.cartIn a {
		position: relative;
	}

	#header {
		border-top: 20px solid #666666;
		padding: 15px;
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.11);
	}

	.mobileLogo {
		display: flex;
		align-items: center;
		height: 35px;
	}

	.mobileLogo a img {
		max-width: 128px;
		width: 100%;
	}

	.trendingProducts {
		padding: 50px 0px;
	}

	.whyChooseUs {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.rightTxts p {
		text-align: center;
	}

	.copyTxts p {
		text-align: center;
	}

	.copyRights {
		background-color: #fff;
		padding: 15px 0px;
	}

	.whyChooseUs .allHeads h3,
	.trendingProducts .allHeads h3,
	.hyattSlider .allHeads h3 {
		font-size: 30px;
		text-align: center;
		font-weight: 700;
		margin-bottom: 20px;
		color: #333333;
	}

	.numericIn {
		display: flex;
		gap: 15px;
		align-items: center;
		justify-content: space-between;
		padding: 40px 0px;
		box-shadow: 0px 16px 12px #00000029;
		border-radius: 100px;
		margin-top: 40px;
		flex-direction: column;
	}

	.numericIn>div {
		padding: 0px 30px;
		width: 60%;
		border-right: 0px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
	}

	.numericIn>div:last-child {
		border-right: 0px solid #ddd;
		border-bottom: 0px;
	}

	.whyChooseUs p {
		text-align: center;
		font-size: 18px;
		line-height: 1.5;
	}

	.clienttestimonials .allHeads h3 {
		font-size: 28px;
		font-weight: 700;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 40px;
		display: block;
		padding-right: 15px;
		padding-left: 15px;
	}

	.clienttestimonials .allHeads h3 span {
		display: block;
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 15px;
	}

	.clienttestimonials {
		padding: 50px 0px;
	}

	.footerLinks h4 {
		font-size: 20px;
		color: #fff;
		font-weight: 600;
		margin-bottom: 30px;
		margin-top: 40px;
	}

	.footerLogo p {
		color: #fff;
		font-size: 14px;
		line-height: 2;
		margin-bottom: 20px;
	}

	.insideFooter .col-md-3:nth-child(1) {
		max-width: 100%;
		width: 100%;
		margin-right: 0px;
	}

	.insideFooter .col-md-3:nth-child(2) {
		max-width: 100%;
		width: 100%;
		margin-right: 0px;
	}

	.insideFooter .col-md-3:nth-child(3) {
		max-width: 100%;
		width: 100%;
		margin-right: 0px;
	}

	.insideFooter .col-md-3:nth-child(4) {
		max-width: 100%;
		width: 100%;
	}

	.footerLinks ul li a {
		font-size: 12px;
		font-weight: 400;
		color: #fff;
		margin-bottom: 15px;
		display: block;
	}

	.addressTxt p {
		white-space: normal
	}

	.contactTxt,
	.emailTxt,
	.addressTxt {
		display: flex;
		gap: 15px;
		margin-bottom: 20px;
		align-items: center;
	}

	.topBg {
		background-color: #666666;
		padding-top: 50px;
		padding-bottom: 15px;
	}

	.testimonialSlider.owl-carousel .owl-stage-outer {
		overflow: hidden;
	}

	.mainSlider.owl-carousel .owl-stage-outer {
		overflow: hidden;
	}

	.testimonialSlider .owl-nav button.owl-prev {
		position: absolute;
		width: 32px;
		height: 32px;
		top: -44px;
		margin: auto;
		right: 43px;
		left: auto;
		bottom: auto;
	}

	.testimonialSlider .owl-nav button.owl-next {
		position: absolute;
		width: 32px;
		height: 32px;
		top: -43px;
		margin: auto;
		right: 0px;
		left: auto;
		bottom: auto;
	}

	/*  */
	.breadTxt {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.wishList a {
		line-height: 40px;
	}

	.wishList {
		position: absolute;
		right: 20px;
		top: 20px;
		width: 40px;
		height: 40px;
	}

	.imgZoomIn {
		width: 28px;
		right: 20px;
		bottom: 20px;
	}

	.productDetails h3 {
		font-size: 30px;
		margin-bottom: 15px;
		margin-top: 30px;
	}

	.diffSize {
		margin-top: 20px;
	}

	.dowloadsIn {
		margin-top: 40px;
	}

	.addCart a {
		font-size: 18px;
		color: #fff;
		background-color: #333;
		padding: 14px 98px;
		border-radius: 8px;
		display: inline-block;
		margin-top: 40px;
	}

	.additionalDetails ul li {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.additionalDetails {
		padding: 50px 0px;
	}

	.detailsTrend {
		margin-bottom: 40px;
		display: block;
	}

	#thumbs {
		max-width: 280px;
		width: 100%;
		display: block;
		margin: 0px auto;
	}

	#thumbs .owl-nav button.owl-next,
	#thumbs .owl-nav button.owl-prev {
		top: 38%;
	}

	/*  */
	.insideBtm {
		max-width: 100%;
		width: 100%;
		display: flex;
		margin: 0px auto;
		text-align: unset;
		justify-content: space-between;
	}

	.insideBtm a:first-child {
		margin-right: 0px;
	}

	.insideBtm a {
		font-size: 18px;
		color: #fff;
		background-color: #333;
		padding: 14px 30px;
		border-radius: 8px;
		display: inline-block;
		margin-top: 124px;
		box-shadow: 0px 3px 6px #00000029;
		margin: 0px;
		width: auto;
	}

	.bottomAdd {
		padding: 30px 15px;
		border-top: 2px solid #8d8d8d;
		margin-top: 40px;
	}

	.insideList {
		position: relative;
		margin-bottom: 40px;
	}

	.topHeads h3 {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 30px;
	}

	.showingRes p {
		text-align: left;
		font-size: 18px;
		margin-bottom: 30px;
	}

	.sectionPart p {
		text-align: center;
		font-size: 16px;
	}

	.sectionPart h3 {
		font-size: 28px;
		margin-bottom: 15px;
	}

	.sectionPart {
		padding: 30px 0px;
		margin-top: 15px;
	}

	.stepPage {
		max-width: 100%;
	}

	.stepPage>div img {
		display: block;
		margin: 10px auto;
		background-color: #fff;
		border: 2px solid #999;
		padding: 7px;
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}

	.stepPage::after {
		width: calc(100% - 40px);
		top: 31px;
	}

	.stepPage>div.active::after {
		content: "";
		display: block;
		position: absolute;
		background-color: #f93;
		height: 2px;
		width: 89px;
		left: -29px;
		top: 31px;
		z-index: 99;
	}

	.stepPage>div span {
		display: block;
		text-align: center;
		text-transform: uppercase;
		line-height: 1.2;
		font-size: 14px;
	}

	.forClose a {
		text-align: right;
		display: block;
		padding-top: 15px;
		padding-right: 30px;
	}

	.desktopHamburger ul {
		padding-top: 30px;
		list-style: none;
		padding-left: 30px;
		padding-right: 30px;
	}

	.insideBtm2 {
		display: flex;
		gap: 10px;
	}

	.insideBtm2 a {
		font-size: 16px;
		color: #fff;
		background-color: #333;
		padding: 11px 14px;
		border-radius: 8px;
		display: inline-block;
		margin-top: 40px;
		box-shadow: 0px 3px 6px #00000029;
	}

	.summaryPart {
		background-color: #fff;
		padding: 15px 20px 40px 20px;
		border-radius: 12px;
		box-shadow: 0px 3px 6px #00000029;
	}

	.helpLine {
		background-color: #f5f5f5;
		margin-top: 30px;
		padding: 50px 0px;
		display: block;
	}

	.chatMobile {
		display: flex;
		gap: 20px;
		align-items: center;
		justify-content: end;
		margin-top: 30px;
		flex-direction: column;
	}

	.mobileNum a span {
		display: block;
		margin-left: 0px;
		color: #f93;
		text-align: center;
		margin-top: 20px;
	}

	.helpLine h3 {
		font-size: 28px;
		font-weight: 600;
		text-align: center;
	}

	.thanksMsg {
		background-color: #ffdab5;
		border-radius: 12px;
		padding: 50px 0px;
		margin-top: 0;
	}

	.thanksIns {
		max-width: 100%;
		width: 100%;
		display: block;
		margin: 0px auto;
	}

	.thanksIns img {
		width: 100%;
		padding: 15px;
	}

	.modernDiv>img {
		width: 100%;
	}
}

@media (max-width: 420px) {}

@media (max-width: 380px) {}