body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  font-size: 16px;
}

h1,
h2,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif;
}

a:hover {
  text-decoration: none !important;
}

/**/
.rightTxts p {
  text-align: right;
}

#header {
  border-top: 52px solid #666666;
}

.headerTop {
  padding: 44px 126px 44px 104px;
  display: flex;
  gap: 70px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.yourCart {
  display: flex;
  align-items: center;
  gap: 15px;
}

.yourCart p span {
  display: block;
}

.loginReg {
  display: flex;
  align-items: center;
  gap: 15px;
}

.loginReg p span {
  display: block;
}


.headerTop>div:nth-child(1) {
  max-width: 22.7%;
  width: 100%;
}

.headerTop>div:nth-child(2) {
  max-width: 46%;
  width: 100%;
}

.headerTop>div:nth-child(3) {
  max-width: 31.3%;
  width: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 94px;
}

.menuHeader ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.menuHeader {
  box-shadow: 0px 3px 6px #00000029;
  padding: 50px 126px 50px 104px;
}

.menuHeader ul li a {
  font-size: 20px;
  color: #1c172e;
  text-transform: uppercase;
  font-weight: 400;
}

.yourCart p {
  font-size: 16px;
  color: #76767e;
  font-weight: 400;
  line-height: 1.2;
}

.yourCart p span {
  color: #bdbdc6;
}

.loginReg p {
  font-size: 16px;
  color: #76767e;
  font-weight: 400;
  line-height: 1.2;
}

.loginReg p span {
  color: #bdbdc6;
}

.loginReg p span a {
  font-size: 16px;
  color: #76767e;
  font-weight: 400;
  line-height: 1.2;
}

.searchInput .search-panel .btn-default {
  color: #76767e;
  background-color: #f7f8fc;
  border-color: #e4e4e4;
  height: 50px;
}

.searchBtn .btn-default {
  color: #fff;
  background-color: #ff9933;
  border-color: #ff9933;
  height: 50px;
  padding: 0px 25px;
}

.searchInput .input-group .form-control {
  height: 50px;
  border-color: #e4e4e4;
}

.topBg {
  background-color: #666666;
  padding-top: 80px;
  padding-bottom: 50px;
}

.copyRights {
  background-color: #fff;
  padding: 30px 0px;
}

.footerLinks h4 {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 44px;
}

.footerLinks h4 span {
  color: #ff9c34;
}

.footerLinks ul li a {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 44px;
  display: block;
}

.footerLinks ul li:last-child a {
  margin-bottom: 0px;
}

.footerLogo p {
  color: #fff;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 38px;
}

.footerLogo>a {
  margin-bottom: 40px;
  display: block;
}

.contactTxt p,
.addressTxt p,
.emailTxt p {
  color: #fff;
}

.contactTxt div:first-child,
.addressTxt div:first-child,
.emailTxt div:first-child {
  width: 44px;
}

.addressTxt p {
  white-space: nowrap;
}

.contactTxt,
.emailTxt,
.addressTxt {
  display: flex;
  gap: 20px;
  margin-bottom: 44px;
  align-items: center;
}

.insideFooter .col-md-3:nth-child(1) {
  max-width: 274px;
  width: 100%;
  margin-right: 80px;
}

.insideFooter .col-md-3:nth-child(2) {
  max-width: 114px;
  width: 100%;
  margin-right: 150px;
}

.insideFooter .col-md-3:nth-child(3) {
  max-width: 173px;
  width: 100%;
  margin-right: 116px;
}

.insideFooter .col-md-3:nth-child(4) {
  max-width: 255px;
  width: 100%;
}

.contactDetails p span {
  display: block;
}

.socilstxt ul li a {
  width: 54px;
  height: 54px;
  background-color: #fff;
  display: block;
  text-align: center;
  line-height: 54px;
  border-radius: 50%;
  color: #84858b;
  font-size: 22px;
}

.socilstxt ul li a:hover {
  color: #fff;
  background-color: #ff9933;
  transition: .2s ease-in-out;
}

.socilstxt ul li {
  padding-right: 0;
  padding-left: 0;
  margin-right: 5px;
}

.whyChooseUs .allHeads h3,
.trendingProducts .allHeads h3,
.hyattSlider .allHeads h3 {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 55px;
  color: #333333;
}

.hyattSlider {
  padding: 115px 0px;
}

.hyattSlider .allHeads p {
  text-align: center;
}

.whyChooseUs p {
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
}

.whyChooseUs {
  background-color: #ebebeb;
  padding-top: 84px;
  padding-bottom: 45px;
}

.whyChooseUs a {
  color: #fff;
  background-color: #ff9933;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  display: block;
  max-width: 184px;
  width: 100%;
  margin: 0px auto;
  font-size: 16px;
  margin-top: 48px;
}

.modernDiv {
  position: relative;
}

.capsTxts {
  position: absolute;
  top: 30px;
  left: 30px;
}

.capsTxts a {
  background-color: #fff;
  padding: 8px 25px;
  border-radius: 4px;
  margin-top: 10px;
  display: inline-block;
  color: #f93;
  font-size: 18px;
  font-weight: 600;
}

.capsTxts h4 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 5px;
}

.capsTxts h4 span {
  font-size: 18px;
}

.instaGram p {
  font-size: 18px;
  font-weight: 600;
}

.modernDiv h4 span {
  display: block;
}

.instaGram>div p {
  margin-top: 6px;
}

.instaGram {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5px;
  left: 15px;
  width: 100%;
}

.numericIn {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  box-shadow: 0px 16px 12px #00000029;
  border-radius: 100px;
  margin-top: 80px;
}

.numericIn>div h3 {
  text-align: center;
  color: #f93;
  font-weight: 700;
  font-size: 40px;
}

.numericIn>div h3 span {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
  margin-top: 5px;
}

.numericIn>div {
  padding: 0px 30px;
  width: 33.33%;
  border-right: 1px solid #ddd;
}

.numericIn>div:last-child {
  border-right: 0px solid #ddd;
}

.trendingProducts {
  padding: 75px 0px 46px 0px;
}

.mt-17 {
  margin-top: 17px;
}

.topSlider {
  background-color: #f8f8f8;
  padding: 180px 0px;
}

.mainSlider .bg_1 {
  background-image: url(../images/slider-1.png);
}

.mainSlider .bg_2 {
  background-image: url(../images/slider-2.png);
}

.mainSlider .item {
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 948px;
}

.mainSlider.owl-carousel .owl-stage-outer {
  overflow: unset;
}

.homepage {
  overflow-x: hidden;
}

.mainSlider.owl-carousel .owl-stage {
  padding-left: 0px !important;
}

.mainSliderIns {
  position: absolute;
  left: 249px;
  top: -115px;
}

.mainSliderIns h2 {
  font-size: 90px;
  line-height: 1.2;
  color: #333333;
  margin-bottom: 50px;
  font-weight: 700;
}

.mainSliderIns h2 span {
  display: block;
}

.mainSliderIns p {
  background-color: rgba(233, 157, 81, .7);
  padding: 48px 237px 48px 65px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.mainSlider .owl-nav button.owl-next {
  position: absolute;
  width: 111px;
  height: 21px;
  bottom: -75px;
  margin: auto;
  right: 360px;
  background-image: url(../images/next.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mainSlider .owl-nav button.owl-prev {
  position: absolute;
  width: 161px;
  height: 21px;
  bottom: -75px;
  margin: auto;
  right: 521px;
  opacity: 1;
  background-image: url(../images/pre.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mainSlider.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
  width: 40px;
}

.mainSlider.owl-theme .owl-dots,
.mainSlider.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 26px;
}

.mainSlider.owl-theme .owl-nav .owl-prev:hover,
.mainSlider.owl-theme .owl-nav .owl-next:hover {
  background: none;
  color: #FFF;
  text-decoration: none;
}

.mainSlider.owl-theme .owl-dots .owl-dot span {
  background: #fff;
}

.mainSlider.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default;
}

.testimonialSliderIns {
  background-color: #fff5ea;
  padding: 35px 28px;
  border-radius: 12px;
}

.testimonialSliderIns img {
  width: auto !important;
}

.userImgs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.userImgs h4 span {
  display: block;
  font-size: 14px;
}

.testimonialSlider.owl-carousel .owl-stage {
  padding-left: 0px !important;
}

.testimonialSlider.owl-carousel .owl-stage-outer {
  overflow: unset;
}

.testimonialSlider .owl-nav button.owl-next {
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 49px;
  margin: auto;
  left: -87px;
  background-image: url(../images/next-2.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.testimonialSlider .owl-nav button.owl-prev {
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 49px;
  margin: auto;
  left: -141px;
  opacity: 1;
  background-image: url(../images/prev-2.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.testimonialSlider.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
  width: 40px;
}

.testimonialSlider.owl-theme .owl-dots,
.testimonialSlider.owl-theme .owl-nav {
  margin-top: 0px;
}

.testimonialSlider.owl-theme .owl-nav .owl-prev:hover,
.testimonialSlider.owl-theme .owl-nav .owl-next:hover {
  background: none;
  color: #FFF;
  text-decoration: none;
}

.clienttestimonials .allHeads h3 span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}

.clienttestimonials .allHeads h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: right;
  margin-top: 45px;
  margin-bottom: 25px;
  display: block;
  padding-right: 25px;
  /* max-width: 280px;
  width: 100%;
  float: right;*/
}

.clienttestimonials {
  padding: 100px 0px;
}

.testimonialSliderIns p {
  margin-top: 10px;
}

.mainSlider.owl-carousel .owl-item .mainSliderIns {
  display: none;
}

.mainSlider.owl-carousel .owl-item.active .mainSliderIns {
  display: block;
}

.trendingProducts.onBanner .allHeads h3 {
  margin-bottom: 0;
  color: #fff;
}

.trendingProducts.onBanner .numericIn {
  margin-top: 75px;
  background-color: #fff;
}

.trendingProducts.onBanner {
  margin-top: -315px;
}

.allLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.logoIns {
  height: 416px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
  max-width: 372px;
  width: 100%;
  margin-bottom: 28px;
}

.mt-84 {
  margin-top: 84px;
}

.logoIns img {
  display: block;
  margin: 0px auto;
}

.logoIns:hover {
  background-color: #fff5e5;
}

.numericIn ul li a {
  font-size: 18px;
  color: #330000;
  text-decoration: underline !important;
  margin-bottom: 30px;
  display: block;
  line-height: 1;
  text-align: center;
  font-weight: 600;
}

.numericIn.listUL>div {
  padding: 0px 0px;
}

.numericIn.listUL {
  padding: 60px 25px;
}

.hyattSliders {
  margin-top: 140px;
}

.hyattSliders .owl-nav button.owl-next {
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: -25px;
  margin: auto;
  right: 0px;
  background-image: url(../images/next-2.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hyattSliders .owl-nav button.owl-prev {
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: -25px;
  margin: auto;
  left: 0px;
  opacity: 1;
  background-image: url(../images/prev-2.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hyattSliders.owl-theme .owl-dots .owl-dot.active span {
  background: #f93;
}

.hyattSliders.owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 153, 51, .5);
}

.hyattSliders.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 26px;
  max-width: 529px;
  display: block;
  margin: 0px auto;
  position: relative;
  margin-top: 95px;
}

.hyattSliders.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 26px;
  max-width: 420px;
  display: block;
  margin: 0px auto;
  position: relative;
  margin-top: 95px;
}

.hyattSliders.owl-theme .owl-nav .owl-prev:hover,
.hyattSliders.owl-theme .owl-nav .owl-next:hover {
  background: none;
  color: #FFF;
  text-decoration: none;
}

.downloadBytton a {
  background-color: #333;
  color: #fff;
  padding: 40px 72px;
  border-radius: 12px;
  margin: 0px auto;
  display: block;
  max-width: 790px;
  width: 100%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.posRel {
  position: relative;
}

.oneThird {
  position: absolute;
  right: 0px;
}

/**/

.breadTxtLink a {
  font-size: 14px;
  color: #1c172e;
  margin: 0px 5px;
}

.breadTxtLink {
  font-size: 14px;
  color: #1c172e;
}

.breadTxtLink a:first-child {
  margin-left: 0px;
}

.breadTxt {
  padding-top: 95px;
  padding-bottom: 65px;
}

/**/
.itemImg {
  box-shadow: 0px 3px 6px #00000029;
  margin: 6px;
}

.thumImg {
  box-shadow: 0px 3px 6px #00000029;
  margin: 6px;
  position: relative;
}

.outer {
  position: relative;
}

.productDetails h3 {
  font-size: 55px;
  color: #ff9933;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.rightProudts {
  max-width: 448px;
  width: 100%;
}

.productDetails p {
  font-size: 16px;
}

.diffSize {
  margin-top: 82px;
}

.dowloadsIn {
  margin-top: 82px;
}

.diffSize h4 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 25px;
}

.diffSize p {
  margin-bottom: 15px;
  font-size: 16px;
}

.indDwl {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 18px;
}

.indDwl>div:first-child img {
  box-shadow: 0px 3px 6px #00000029;
  margin: 6px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.wishList {
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 99;
  width: 56px;
  height: 56px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
}

.wishList a {
  line-height: 54px;
  text-align: center;
  display: block;
}

.imgZoomIn {
  position: absolute;
  width: 32px;
  right: 30px;
  bottom: 25px;
  z-index: 99;
}

.dowloadsIn h5 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.addCart a {
  font-size: 18px;
  color: #fff;
  background-color: #333;
  padding: 14px 98px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 124px;
}

/**/
#thumbs .owl-nav button.owl-next {
  position: absolute;
  width: 16px;
  height: 26px;
  top: 50%;
  margin: auto;
  right: -35px;
  background-image: url(../images/arrow-right2.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#thumbs .owl-nav button.owl-prev {
  position: absolute;
  width: 16px;
  height: 26px;
  top: 50%;
  margin: auto;
  left: -35px;
  opacity: 1;
  background-image: url(../images/arrow-left2.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#thumbs.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
}

#thumbs.owl-carousel .owl-nav button.owl-prev span,
#thumbs.owl-carousel .owl-nav button.owl-next span {
  display: none;
}

#thumbs.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 0;
  width: 100%;
}

#thumbs.owl-theme .owl-nav .owl-prev:hover,
#thumbs.owl-theme .owl-nav .owl-next:hover {
  background: none;
  color: #FFF;
  text-decoration: none;
}

#thumbs.owl-theme .owl-dots .owl-dot span {
  background: #fff;
}

/**/
#thumbs .owl-nav button.owl-prev i,
#thumbs .owl-nav button.owl-next i {
  display: none;
}

#thumbs {
  max-width: 573px;
  width: 100%;
  display: block;
  margin: 0px auto;
}

/**/

.additionalDetails h3 {
  font-size: 24px;
  border-bottom: 2px solid #8d8d8d;
  padding-bottom: 30px;
  margin-bottom: 45px;
  color: #333;
  font-weight: 600;
}

.additionalDetails ul {
  list-style: none;
  padding-left: 0px;
}

.additionalDetails ul li {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.additionalDetails {
  padding: 78px 0px;
}

.trendingProducts {
  background-color: #f5f5f5;
  padding: 72px 0px;
}

.trendingProducts h3 {
  font-size: 24px;
  border-bottom: 2px solid #8d8d8d;
  padding-bottom: 30px;
  margin-bottom: 45px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}

.trendingIns img {
  width: 100%;
  margin: 0px auto;
  display: block;
}

.trendingIns p {
  text-align: center;
  font-size: 16px;
  color: #333;
  padding-top: 10px;
}

.trendingIns a {
  font-size: 18px;
  color: #333;
  background-color: #ff9933;
  padding: 10px 30px;
  border-radius: 8px;
  display: block;
  max-width: 198px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.trendingIns a:hover {
  color: #fff;
  background-color: #333;
  transition: all 0.5s ease-in-out;
}

.trendImg {
  box-shadow: 0px 3px 6px #00000029;
  margin: 6px;
}

.commonPlacePage .trendingIns {
  min-height: 870px;
  margin-bottom: 50px;
}

.trendingProducts.commonPlacePage {
  background-color: #fff;
  padding: 0px 0px 72px 0px;
}

.commonPlacePage .trendingIns p {
  padding-top: 40px;
  padding-bottom: 40px;
}

.commonPlacePage.trendingProducts h3 {
  font-size: 55px;
  border-bottom: 0px solid #8d8d8d;
  padding-bottom: 30px;
  margin-bottom: 55px;
  color: #f93;
  font-weight: 600;
  text-transform: none;
  text-align: center;
}

.productPages .breadTxtLink {
  font-size: 14px;
  color: #1c172e;
  display: block;
  margin: 0px auto;
  max-width: 263px;
}


.insideList {
  position: relative;
  margin-bottom: 55px;
}

.insideList p {
  background-color: #ff9933;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  color: #fff;
  font-size: 24px;
  padding: 12px 10px;
}

.insideList img {
  box-shadow: 0px 3px 6px #00000029;
  margin: 0px auto;
}

.designedTo {
  padding: 96px 0px;
}

/**/

.stepPage {
  display: flex;
  max-width: 1064px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0px auto;
}

.progressBar {
  padding: 75px 0px;
}

.stepPage>div span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 16px;
}

.stepPage>div img {
  display: block;
  margin: 10px auto;
  background-color: #fff;
  border: 2px solid #999;
  padding: 20px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.stepPage::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #999;
  height: 2px;
  width: calc(100% - 80px);
  left: 0px;
  right: 0px;
  margin: 0px auto;
  z-index: -9;
  top: 51px;
}

.stepPage>div.active img {
  background-color: #f93;
  border: 2px solid #f93;
}

.stepPage>div.active {
  position: relative;
}

.stepPage>div.active::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #f93;
  height: 2px;
  width: 262px;
  left: -183px;
  top: 51px;
  z-index: 99;
}

.stepPage>div.active.removeLine::after {
  display: none;
}

.stepPage>div {
  cursor: pointer;
}

/**/

.sectionPart {
  padding: 30px 0px;
  margin-top: 90px;
  border-bottom: 2px solid #999;
}

.sectionPart h3 {
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.sectionPart p {
  text-align: center;
  font-size: 20px;
}

/**/
.has-search .form-control-feedback {
  left: initial;
  right: 0px;
  color: #ccc;
}

.has-search .form-control {
  padding-right: 12px;
  padding-left: 12px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #222;
}

.filterBox .panel-default>.panel-heading {
  color: inherit;
  background-color: transparent;
  border-color: transparent;
}

.filterBox .panel-group .panel-heading+.panel-collapse>.list-group,
.filterBox .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0px;
}

.filterBox .panel {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.filterBox h4 img {
  width: 34px;
  margin-right: 15px;
}

.filterBox h4 {
  font-size: 18px;
  color: #ff9933;
  font-weight: 600;
}

/**/
.filterLeft .collapsed-icon-toggle.collapsed .on-closed {
  display: initial;
}

.filterLeft .collapsed-icon-toggle.collapsed .on-opened {
  display: none;
}

.filterLeft .collapsed-icon-toggle .on-closed {
  display: none;
}

.filterLeft .collapsed-icon-toggle .on-opened {
  display: initial;
  position: relative;
}



.filterLeft .glyphicon-plus::before {
  content: "";
  background-image: url("../images/arrowhead.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 13px;
  height: 21px;
  position: absolute;
  left: -28px;
}

.filterLeft .glyphicon-minus::before {
  content: "";
  background-image: url("../images/arrowhead2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 21px;
  height: 13px;
  position: absolute;
  left: -28px;
  top: 5px;
}

#coll-1,
#coll-1a,
#coll-2a,
#coll-1b,
#coll-2b {
  margin-bottom: 40px;
}

.filterLeft .padding-v-xs {
  position: relative;
  margin-bottom: 12px;
  padding-left: 28px;
}

.filterLeft .btn.ico span.icon {
  opacity: 0;
}

.filterLeft .btn.ico.active span.icon {
  opacity: 1;
}

.filterLeft .btn-group-xs>.btn,
.filterLeft .btn-xs {
  position: absolute;
  right: 0px;
}

.filterLeft .collapsed-icon-toggle {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  padding-left: 28px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #000;
}

.filterLeft {
  padding-top: 30px;
  background-color: #f0f0f1;
  margin-top: 42px;
}

.productBox .insideList img {
  width: calc(100% - 30px);
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.searchBox {
  padding: 0px 15px;
}

.bottomAdd {
  padding: 30px 0px;
  border-top: 2px solid #8d8d8d;
  margin-top: 65px;
}

.insideBtm {
  max-width: 780px;
  width: 100%;
  display: block;
  margin: 0px auto;
  text-align: center;
}

.insideBtm a:first-child {
  margin-right: 150px;
}

.insideBtm a {
  font-size: 18px;
  color: #fff;
  background-color: #333;
  padding: 14px 98px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 124px;
  box-shadow: 0px 3px 6px #00000029;
  margin: 6px;
}

.insideBtm a:last-child {
  background-color: #ff9933;
}

.listOfProducts {
  padding-top: 40px;
}

.topHeads h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.showingRes p {
  text-align: right;
  font-size: 18px;
  margin-bottom: 30px;
}

.topHeads h3 span {
  color: #f93;
}

.addWishlist {
  display: flex;
  justify-content: center;
  margin-top: -8px;
  gap: 15px;
}

.addWishlist a {
  width: 48px;
  height: 48px;
  display: block;
}

.addWishlist a img {
  width: 100% !important;
  border-radius: 50%;
}

.productBox .insideList p {
  padding: 19px 10px;
}

/*  */
.sectionPart h3.mar-z {
  margin-bottom: 0px;
}

.insideList p span {
  display: block;
}

.innerStart {
  text-align: center;
  padding: 40px 0px;
}

.selectedIt {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 600;
}

.innerStart p {
  margin-top: 15px;
}

.mt-40 {
  margin-top: 40px;
}

.bgGray {
  background-color: #f5f5f5;
}

.progressBar.bPR {
  padding: 75px 0px 0px 0px;
}

.summaryPart {
  background-color: #fff;
  padding: 60px 50px;
  border-radius: 12px;
  box-shadow: 0px 3px 6px #00000029;
}

.summaryLeft .itemImg img {
  border-radius: 12px;
}

.summaryLeft .itemImg {
  box-shadow: 0px 3px 6px #00000029;
  margin: 0;
  border-radius: 12px;
}

.subHead p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.crossIcon {
  position: absolute;
  right: 15px;
  top: -10px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
}


.insideBtm2 {
  display: flex;
  gap: 20px;
}

.insideBtm2 a {
  font-size: 18px;
  color: #fff;
  background-color: #333;
  padding: 14px 45px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 40px;
  box-shadow: 0px 3px 6px #00000029;
}

.insideBtm2 a:last-child {
  background-color: #ff9933;
}

.inputItems .form-control {
  border-radius: 0px;
  margin-top: 15px;
  height: 52px;
  font-size: 18px;
}

.inputItems p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.inputItems {
  margin-top: 40px;
}

.helpLine {
  background-color: #f5f5f5;
  margin-top: 65px;
  padding: 96px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatMobile {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: end;
}

.mobileNum a span {
  display: inline-block;
  margin-left: 30px;
  color: #f93;
}

.mobileNum a {
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.mobileNum a img {
  width: 22px;
}

.helpLine h3 {
  font-size: 32px;
  font-weight: 600;
}

.chatBtn a {
  font-size: 18px;
  color: #fff;
  background-color: #ff9933;
  padding: 10px 20px;
  display: inline-block;
  box-shadow: 0px 3px 6px #00000029;
}

.thanksMsg {
  background-color: #ffdab5;
  border-radius: 12px;
  padding: 90px 0px;
  margin-top: 60px;
}

.thanksIns {
  max-width: 580px;
  width: 100%;
  display: block;
  margin: 0px auto;
}

.thanksIns p {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.desktopHamburger {
  position: fixed;
  top: 0px;
  right: 0px;
  max-width: 0px;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

.menuHeader ul li a:hover {
  color: #ff9933;
  transition: all 0.5s ease-in-out;
}

.desktopHamburger ul li a {
  font-size: 18px;
  color: #333;
  padding: 10px 0px;
  display: block;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
}

.desktopHamburger ul li a:hover {
  color: #f93
}

.desktopHamburger ul {
  padding-top: 75px;
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
}

.forClose a {
  text-align: right;
  display: block;
  padding-top: 15px;
  padding-right: 15px;
}

.forClose a {
  color: #333;
  text-decoration: underline !important;
}

/*  */
.materialDes .addCart a {
  font-size: 18px;
  color: #fff;
  background-color: #333;
  padding: 14px 98px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 85px;
}

.materialDes .dowloadsIn,
.materialDes .diffSize {
  margin-top: 65px;
}

.innerDescript {
  margin-top: 50px;
}

.innerDescript h4 {
  margin-bottom: 15px;
}

.checkoutSlider .insideList {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.checkoutSlider .insideList img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/*  */
/**/
.checkoutSlider .owl-nav button.owl-next {
  position: absolute;
  width: 16px;
  height: 26px;
  top: 35%;
  margin: auto;
  right: -35px;
  background-image: url(../images/arrow-right2.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.checkoutSlider .owl-nav button.owl-prev {
  position: absolute;
  width: 16px;
  height: 26px;
  top: 35%;
  margin: auto;
  left: -35px;
  opacity: 1;
  background-image: url(../images/arrow-left2.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.checkoutSlider.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
}

.checkoutSlider.owl-carousel .owl-nav button.owl-prev span,
.checkoutSlider.owl-carousel .owl-nav button.owl-next span {
  display: none;
}

.checkoutSlider.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 0;
  width: 100%;
}

.checkoutSlider.owl-theme .owl-nav .owl-prev:hover,
.checkoutSlider.owl-theme .owl-nav .owl-next:hover {
  background: none;
  color: #FFF;
  text-decoration: none;
}

.checkoutSlider.owl-theme .owl-dots .owl-dot span {
  background: #fff;
}

/**/
.checkoutSlider .owl-nav button.owl-prev i,
.checkoutSlider .owl-nav button.owl-next i {
  display: none;
}

.cheacotMore h3 {
  font-size: 24px;
  border-bottom: 2px solid #8d8d8d;
  padding-bottom: 30px;
  margin-bottom: 45px;
  color: #333;
  font-weight: 600;
}

.cheacotMore {
  padding: 50px 0px;
}

.wishProd .crossIcon a {
  background-color: transparent;
  width: 35px;
  height: 36px;
  padding: 0px;
  max-width: 36px;
  margin: 0px;
}

.wishProd .crossIcon {
  position: absolute;
  right: 0px;
  top: -10px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
}

.wishlistInside,
.cartInside {
  padding: 75px 0px;
}